env:
 node: true
 mocha: true

parserOptions:
  sourceType: module
  ecmaVersion: 8

globals:
  ProyPath: true
  scfg: true
  readDir: true
  requireNoCache: false
  TemplatePath: true
  Events: true
  LibPath: true
  CLIPath: true
  makeObjIterable: true
  __ok: true
  __nok: true
  skipshell: true
  cleanString: true
  configuration: true
  requireUnCached: true

rules:
 one-var: [0, never]
 no-new-wrappers: 0

extends:
 - happiness
