/doc/
/bower_components/
/node_modules/
.DS_Store
/npm-debug.log
/running_test/
/.nyc_output/
/coverage/
/core/
/cli/
/testingapp/
/testcoverage/
/docs/
/lib/
duplication.html
_*
npm-debug*
.barebone.js

/commands
/functions
/support
/utils
/adapters.js
/deamon.js
/globals.js
/index.js
/jutsus.js
/modelmanager.js
/secret.js
/spinner.js
/welcome.js

koaton-cli-0.0.0-development.tgz
