{
	"reporter": [
		"lcov",
		"text"
	],
	"exclude":[
		"/**/globals.js",
		"utils"
	],
	"sourceMap": false,
	"instrument": false,
	"cache": true,
	"check-coverage": false,
	"all": false,
	"report-dir": "./testcoverage"
}
