{
	"reporter": [
		"lcov",
		"text"
	],
	"include": [
		"src"
	],
	"exclude": [
		"src/commands/barebone.js"
	],
	"sourceMap": false,
	"instrument": false,
	"cache": true,
	"check-coverage": true,
	"extension": [
		".js"
	],
	"report-dir": "./testcoverage"
}
