{
	"lines":90,
	"functions":100,
	"include":[
		"**"
	],
	"exclude":[
		"core/",
		"docs/",
		"lib/",
		"node_modules/",
		"src/commands/barebone",
		"templates/",
		"testcoverage/",
		"testingapp/",
		"coverage/"
	],
	"sourceMap": false,
	"instrument": false,
	"all": true,
	"extension": [
      ".js"
    ],
	"check-coverage": true,
	"reporter": [
		"lcov",
		"text"
	],
	"report-dir": "./testcoverage"
}
